# Local Environment & Secrets
.env
.env.local
.env.*
env.json

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Temporary files
tmp/
temp/
scratch/
